if [[ -f .node-version ]]; then
  required="$(tr -d '[:space:]' < .node-version)"
  node_bin="$HOME/.nvm/versions/node/v${required}/bin"
  if [[ -x "$node_bin/node" ]]; then
    PATH_add "$node_bin"
  elif [[ -s "$HOME/.nvm/nvm.sh" ]]; then
    # shellcheck disable=SC1091
    \. "$HOME/.nvm/nvm.sh"
    nvm use "$required" >/dev/null
  fi
fi

PATH_add node_modules/.bin
